doctype html
html(lang='en', ng-app="fireFlyApp")
	head
		meta(charset="utf-8")
		title Firefly Characters

	body
		block content
		
	//- Hard to find on cdn.js, so make sure you have angular-animate, animate-resource, angular-route
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
	script(src="main.js")